.subscribe{
    background-color: #F8F7F2;
    margin: 100px 0px 0px;
}

.newsletter-form{
    max-width: 700px;
    margin: auto;
    padding: 50px 0px;
}

.newsletter-text h2{
    font-size: 3em;
    text-align: center;
    padding: 60px 0px 0px;
}

.input-email{
    padding: 20px;
    margin-bottom: 10px;
    width: 500px; 
    border:1px solid #F8F7F2;
}

.subscribe-button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 20px 50px;
}

.subscribe-button:hover {
    background-color: #333;
}

footer{
    background-color: #151515;
    color: #fff;
}

.footer-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 80%;
    margin: auto;
    padding: 50px;
}

.footer-logo{
    padding-top: 80px;
}

.footer-grid h2{
    padding-bottom: 15px;
}

.footer-grid p{
    padding-top: 15px;
    color: #A3A3A3;
}

.copyright {
    text-align: center;
}

.copyright h2{
    font-size: 13px;
    padding: 10px 0px;
}

.color-options {
    display: flex;
    align-items: center;
}



@media (max-width: 768px) {
    header {
        display: none;
    }
  
  .hamburger_container label{
    display: block;
    z-index: 20;
    }

    input:checked ~ .hide_nav_container {
    display: block;
    color: black;
    }
    .hamburger_container p {
        display: block;
    }

    .footer-grid {
        display: grid;
        grid-template-columns: 1fr ;
        gap: 20px;
        width: 100%;
        margin: auto;
        padding: 20px;
    }
}

@media (max-width: 500px) {
    .input-email{
        width:100%; 
    }

    .newsletter-form {
        max-width: 700px;
        margin: auto;
        padding: 50px 10px;
    }
    
    .footer-grid h2{
       font-size: 20px;
    }
}

@media (max-width: 380px) {

    .newsletter-text h2 {
        font-size: 2em;
    }
}