*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    color: #333;
    padding: 10px;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #ddd;
}

.cta-container {
    text-align: center;
}

.cta-button {
    background-color: #000;
    color: #fff;
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #333;
}

.hr{
    display: none;
}

.hamburger_container input{
    display: none;
    }
    
    .hamburger_container label{
    font-size: 30px;
    cursor: pointer;
    color: red;
    position: fixed;
    right: 10px;
    top:30px ;
    display: none;
    }

    .hamburger_container p{
        font-size: 30px;
        cursor: pointer;
        color: black;
        padding: 30px 10px;
        display: none;
        }
    
    .hide_nav_container{
    display: none;
    height: 70vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: whitesmoke;
    }
    
    .hide_nav_container nav{
        display: contents;
    margin-top: 10%;
    background-color: whitesmoke;
    }
    
    .hide_nav_container nav ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: #8a8a8a;
    padding-top: 40px;
    }  
    
    .hide_nav_container ul li{
    list-style: none;
    font-size: 15px;
    margin: 10px 0;
    cursor: pointer; 
    }
    
    .hide_nav_container ul li a{
    text-decoration: none;
    color: black;
    margin: 30px;
    letter-spacing: 3px;
    }
    
    .hide_nav_container a:hover {
    color: red;
    }
    
    .hide_nav_container .nav  .nav-link :hover {
    color: blue; 
    }

    @media (max-width: 768px) {

    
        .hamburger_container label{
            display: block;
            z-index: 20;
            }
        
            input:checked ~ .hide_nav_container {
            display: block;
            color: black;
            }
            .hamburger_container p {
                display: block;
            }
    }